:root {
    --background-color: #f5f5f5;
    --background-color-second: #f5f4fa;
    --background-hero: rgba(47, 48, 58, 0.4);
    --bg-cl-icon-footer: rgba(255, 255, 255, 0.1);
    --bg-label: rgba(47, 48, 58, 0.8);
    --bg-modal: rgba(0, 0, 0, 0.2);
    --bg-over: rgba(33, 150, 243, 0.9);
    --btn-shadow-cl: rgba(0, 0, 0, 0.15);
    --frame-header: #ececec;
    --frame-cards: #eeeeee;
    --backgraund-footer: #2f303a;
    --blue-color: #2196f3;
    --blue-second: #188ce8;
    --black-color: #212121;
    --grey-color: #757575;
    --grey-color-50: rgba(117, 117, 117, 0.5);;
    --white-color: #ffffff;
    --link-footer-cl: #ffffff99;
    --logo-cl: #000000;
    --cl-icon: #afb1b8;
    /* Шрифти */
    --main-font: 'Roboto', sans-serif;
    --second-font: 'Raleway', sans-serif;
    /* анімація */
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --anim-time: 250ms;
  }