.customers{
    font-weight: 700;
    font-size: 28px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 32px;
        line-height: 1.16;
    }
}
.customers__list {
    display: flex;
    gap: 30px;
}
.customers__item{
    flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px) / 3);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 150px) / 6);
    }
}
.customers__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92px;
    color: var(--cl-icon);
    border: 1px solid var(--cl-icon);
    border-radius: 4px;
    transition: color var(--anim-time) var(--animation-timing-function), 
    border var(--anim-time) var(--animation-timing-function);
    &:hover, &:focus{
        color: var(--blue-color);
  border: 1px solid var(--blue-color);
    }
}
.customers__icon {
    fill: currentColor;
}
  