.hero {
    position: relative;
    max-width: 1600px;
    height: 400px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/studio/hero/hero-mobi.jpg');
   
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: 
      linear-gradient(to right, var(--background-hero), var(--background-hero)),url('../images/studio/hero/hero-mobi@2x.jpg');
      }
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  
      text-align: center;
      
      @media screen and (min-width: 481px) {
          background-image: linear-gradient(to right, 
          var(--background-hero), 
          var(--background-hero)), 
          url('../images/studio/hero/hero-tab.jpg');
          
          @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: 
          linear-gradient(to right, 
          var(--background-hero)o, 
          var(--background-hero)),url('../images/studio/hero/hero-tab@2x.jpg');
          }
      }
  
      @media screen and (min-width: 769px) {
          background-image: linear-gradient(to right, 
          var(--background-hero), 
          var(--background-hero)), 
          url('../images/studio/hero/hero-desk.jpg');
          
          @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
              background-image: 
              linear-gradient(to right, 
              var(--background-hero), 
          var(--background-hero)),url('../images/studio/hero/hero-desk@2x.jpg');
      }
      
          @media screen and (min-width: 1200px){
          height: 600px;
          padding: 200px 0;
          }

  }
}
.hero__titel{
  margin: 0 auto 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: #fff;
  
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}