.footer {
    background-color: var(--backgraund-footer);
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 767px) {
        text-align: center;
    }   

    &__container{
        @media screen and (min-width: 768px)
        {
            display: flex;
            align-items: baseline;
        }
        
        
        @media screen and (min-width: 768px) and (max-width: 1199px){
            flex-wrap: wrap;
            text-align: center;
        }
    }
    &__logo{
        color: var(--white-color);
    }
   
  }