.footer {
    background-color: var(--backgraund-footer);
    padding-top: 60px;
    padding-bottom: 60px;
    &__container{
        display: flex;
        align-items: baseline;
    }
    &__logo{
        color: var(--white-color);
    }
   
  }