.social__group {

    @media screen and (max-width: 767px){
        margin-top: 60px;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px){
        margin-left: 165px;
    }

    @media screen and (min-width: 1200px){
        margin-left: 70px;
    }
}
.social__titel {
      font-weight: 700;
      line-height: 1.14;
      
      text-transform: uppercase;
    color: var(--white-color);
}
.social--retreat {
    align-content: center;
    margin-top: 20px;
}

.footer__social{
    background-color: var(--bg-cl-icon-footer);
    fill:var(--white-color);
    &:hover, &:focus{
        background-color: var(--blue-color);
    }
}
